.kazan>ul>li {
		background: url('../assets/pages/kazansummit/bg.jpg') no-repeat 0 0;
}

.video-ico,.gallery-ico {
	top: 255px;
	left: 90px;
	}
	.rasp-ico{
		width:83px;
		height:83px;
		position:absolute;
		left:56px;
		top:464px;
		background: url('../assets/pages/kazansummit/rasp-ico.png') no-repeat 0 0;
	}