* {
    margin: 0;
    padding: 0;
	}

@font-face {
	font-family: 'DINPro-Regular';
	src: url('../fonts/DINPro-Regular.eot');
	src: local('☺'),
		 url('../fonts/DINPro-Regular.woff') format('woff'),
		 url('../fonts/DINPro-Regular.ttf') format('truetype'),
		 url('../fonts/DINPro-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	}

@font-face {
	font-family: 'DINPro-Bold';
	src: url('../fonts/DINPro-Bold.eot');
	src: local('☺'),
		 url('../fonts/DINPro-Bold.woff') format('woff'),
		 url('../fonts/DINPro-Bold.ttf') format('truetype'),
		 url('../fonts/DINPro-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	}

#content {
	width: 1024px;
	height: 768px;
	overflow: hidden;
	margin: 0 auto;
	}

#canvas, #canvas ul li {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 768px !important;
}

#canvas ul, #canvas ul li ul {
    position: absolute;
    -webkit-transition: all .2s ease-out;
       -moz-transition: all .2s ease-out;
    	 -o-transition: all .2s ease-out;
    		transition: all .2s ease-out;
    top: 0;
    width: 2000px;
    height: 768px;
    margin: 0;
    padding: 0;
    list-style: none;
}

#canvas ul {
    width: 1024px;
    height: 1000px;
}

#canvas ul li ul li {
    float: left;
    width: 1024px !important;
    height: 768px !important;
	position: relative;
    overflow: hidden;
}
.navigation {
	position: absolute;
	right:86px;
	top:193px;
}
.navigation div a {
	font-family: "DINPro-Regular", "MS Trebuchet", sans-serif;
	font-size:22px;
	color:#fff;
	text-decoration:none;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
	padding:25px;
	padding-top: 20px;
	padding-bottom: 28px;
	display: block;
	line-height:1.1;
}
#main .navigation div {
	padding-left:0;
	width:312px;
	margin-bottom:25px;
	display:list-style;
	position: relative;
	top:auto;
	bottom:auto;
}
.navigation div.red-lbl{
	background: url(../assets/pages/main/red-lbl.png) no-repeat 0 0;
}
.navigation div.green-lbl{
	background: url(../assets/pages/main/green-lbl.png) no-repeat 0 0;
}
.navigation div.green-r-lbl{
	background: url(../assets/pages/main/green-r-lbl.png) no-repeat 0 0;
}

.slide-01 {

}

.title {
	position: absolute;
	font-family: DINPro-Regular;
	font-size: 48px;
	top: 65px;
	left: 72px;
	font-weight: normal;
	}

.sub-title {
	position: absolute;
	font-family: DINPro-Regular;
	font-size: 26px;
	left: 72px;
	top: 127px;
	}
.small-title {
	position: absolute;
	font-family: DINPro-Regular;
	font-size: 18px;
	left: 72px;
	top: 127px;
}

.gallery-ico {
	width: 83px;
	height: 83px;
	background: url('../assets/controls/gallery.png') no-repeat;
	position: absolute;
	cursor: pointer;
}
.video-ico {
	width: 83px;
	height: 83px;
	background: url('../assets/controls/video_min.png') no-repeat;
	position: absolute;
	cursor: pointer;
}

.gallery-item {
	width: 284px;
	height: 213px;
	background: url('../assets/controls/gallery-item.png') no-repeat;
	position: absolute;
	}
.gallery-item.video {
	background: url('../assets/controls/video-item.png') no-repeat;
	
	}

	.gallery-item img {
		position: absolute;
		left: 14px;
		top: 14px;
		}

.list-item {
	font-family: DINPro-Regular;
	font-size: 16px;
	left: 74px;
	position: absolute;
	padding-left: 33px;
	background: url('../assets/controls/bullet.png') no-repeat 0 6px;
	}

.m-header {
	font-size: 21px;
	font-family: DINPro-Bold;
	position: absolute;
	left: 74px;
	}

.text {
	font-family: DINPro-Regular;
	font-size: 16px;
	left: 74px;
	position: absolute;
	}

.slide-min {
	position: absolute;
	width: 82px;
	height: 82px;
	left: 72px;
	background: url('../assets/controls/slide_min.png') no-repeat;
	}

.photo-min {
	position: absolute;
	width: 82px;
	height: 82px;
	left: 72px;
	background: url('../assets/controls/photo_min.png') no-repeat;
	}

.hand-min {
	position: absolute;
	bottom: 50px;
	right: 50px;
	width: 95px;
	height: 76px;
	background: url('../assets/controls/hand_min.png') no-repeat;
	}

.more-min {
	width: 82px;
	height: 82px;
	position: absolute;
	background: url('../assets/controls/more_min.png') no-repeat;
	cursor: pointer;
	left: 72px;
	}
.more-max {
	width: 82px;
	height: 82px;
	position: absolute;
	background: url('../assets/controls/more-max.png') no-repeat;
	cursor: pointer;
	left: 268px;
	top:564px;
	}
.more-text {
	position: absolute;
	top:0;
	height:768px;
	width:1024px;
	background-color: #000;

}
.closebtn {
	position: absolute;
	height:52px;
	width:52px;
	top:70px;
	right:60px;
	background:url('../assets/controls/close-btn.png') no-repeat;
	display: block;
}
.header-top {
	color:#000;
	padding:20px 45px;
}
.header-top h1 {
	font-family: DINPro-Regular;
	font-size: 48px;
}
.subwrapper {
	margin:43px 40px;
	background:#fff;
	height:680px;
}
.text-body {
	padding-left: 45px;
	padding-right: 45px;
}
.text-body p {
	color:#000;
	font-family: DINPro-Regular;
	font-size: 18px;
	margin-bottom: 31px;
	}
#main, #enterprises {
	position: relative;
	height: 768px;
	}
#main {
	background: url('../assets/pages/main/main.png') no-repeat;
	}
	#main div {
		cursor: pointer;
		position: absolute;
		right: 86px;
		top: 193px;
		}
#to-enterprises {
	width: 312px;
	height: 102px;
	}
#enterprises {

}
/**** PAGES ****/

/** ALABUGA **/
/** 01 **/
.alabuga .slide-01 {
	color: #fff;
	background: url('../assets/pages/alabuga/01.png') no-repeat;
	}
	.alabuga .slide-01 .logo {
		width: 225px;
		height: 134px;
		background: url('../assets/pages/ak-bars-holding/logo.png') no-repeat;
		top: 465px;
		position: absolute;
		left: 75px;
		}
	.alabuga .slide-01 .address {
		top: 554px;
		font-size: 16px;
		}
	.alabuga .slide-01 .contacts {
		top: 640px;
		font-size: 16px;
		}
	.alabuga .slide-01 .logo {
		width: 352px;
		height: 85px;
		background: url('../assets/pages/alabuga/logo.png') no-repeat;
		left: 62px;
		top: 445px;
		}

/** 02 **/
.alabuga .slide-02 {
	color: #fff;
	background: url('../assets/pages/alabuga/02.png') no-repeat;
	}
	.alabuga .slide-02 .text-01 {
		top: 180px;
		}
	.alabuga .slide-02 .text-02 {
		top: 305px;
		}
	.alabuga .slide-02 .m-header-01 {
		top: 268px;
		}
	.alabuga .slide-02 .more-min {
		top: 530px;
		}

/** 03 **/
.alabuga .slide-03 {
	color: #fff;
	background: url('../assets/pages/alabuga/03.png') no-repeat;
	}
	.alabuga .slide-03 .text-01 {
		top: 180px;
		}
	.alabuga .slide-03 .more-min {
		top: 330px;
		}
/** 04 **/
.alabuga .slide-04 {
	color: #fff;
	background: url('../assets/pages/alabuga/04.png') no-repeat;
	}
	.alabuga .slide-04 .slide-min {
		top: 290px;
		}
	.alabuga .slide-04 .photo-min {
		top: 550px;
		}

/** BKK **/
/** 01 **/
.bkk .slide-01 {
	color: #000;
	background: url('../assets/pages/bkk/01.png') no-repeat;
	}
	.bkk .slide-01 .title {
		color: #000;
		line-height: 50px;
		}

/** AK BARS HOLDING **/
/** 01 **/
.ak-bars-holding .slide-01 {
	color: #000;
	background: url('../assets/pages/ak-bars-holding/01.png') no-repeat;
	}
	.ak-bars-holding .slide-01 .sub-title {
		top: 195px;
		}
	.ak-bars-holding .slide-01 .logo {
		width: 225px;
		height: 134px;
		background: url('../assets/pages/ak-bars-holding/logo.png') no-repeat;
		top: 465px;
		position: absolute;
		left: 75px;
		}
	.ak-bars-holding .slide-01 .address {
		top: 610px;
		font-size: 16px;
		}
	.ak-bars-holding .slide-01 .contacts {
		top: 640px;
		font-size: 16px;
		}
/** 02 **/
.ak-bars-holding .slide-02 {
	color: #fff;
	background: url('../assets/pages/ak-bars-holding/02.png') no-repeat;
	}
	.ak-bars-holding .slide-02 .list-item-01 {
		top: 180px;
		}
	.ak-bars-holding .slide-02 .list-item-02 {
		top: 236px;
		}
	.ak-bars-holding .slide-02 .list-item-03 {
		top: 270px;
		}
	.ak-bars-holding .slide-02 .m-header-01 {
		top: 314px;
		}
	.ak-bars-holding .slide-02 .m-header-02 {
		top: 420px;
		}
	.ak-bars-holding .text-01 {
		top: 345px;
		}
	.ak-bars-holding .text-02 {
		top: 451px;
		}
/** 03 **/
.ak-bars-holding .slide-03 {
	color: #fff;
	background: url('../assets/pages/ak-bars-holding/03.png') no-repeat;
	}
	.ak-bars-holding .slide-03 .list-item-01 {
		top: 200px;
		}
	.ak-bars-holding .slide-03 .list-item-02 {
		top: 240px;
		}
	.ak-bars-holding .slide-03 .list-item-03 {
		top: 300px;
		}
	.ak-bars-holding .slide-03 .list-item-04 {
		top: 360px;
		}
	.ak-bars-holding .slide-03 .list-item-05 {
		top: 400px;
		}
	.ak-bars-holding .slide-min {
		left: 72px;
		top: 600px;
		}
	.ak-bars-holding .presentation {
		top: 625px;
		left: 178px;
		}

/** AK BARS AERO **/
/** 01 **/

.ak-bars-aero .slide-01 {
	color: #000;
	background: url('../assets/pages/ak-bars-aero/01.jpg') no-repeat;
	}
	.ak-bars-aero .slide-01 .address {
		font-family: DINPro-Bold;
		top: 588px;
		left: 72px;
		position: absolute;
		font-size: 14px;
		}
		.ak-bars-aero .slide-01 .address p {
			line-height: 16px;
			}
	.ak-bars-aero .slide-01 .tel {
		font-family: DINPro-Regular;
		left: 72px;
		top: 654px;
		position: absolute;
		font-size: 14px;
		}
		.ak-bars-aero .slide-01 .tel .site {
			top: 33px;
			position: absolute;
			}

/** 02 **/
.ak-bars-aero .slide-02 {
	background: url('../assets/pages/ak-bars-aero/02.jpg') no-repeat;
	color: #fff;
	}
	.ak-bars-aero .slide-02 .home {
		display: block;
		position: absolute;
		bottom: 30px;
		right: 40px;
		width: 37px;
		height: 31px;
		background: url('../assets/controls/home.png') no-repeat;
		}
		.ak-bars-aero .slide-02 .m-header-01 {
			top: 233px;
			}
		.ak-bars-aero .slide-02 .m-header-02 {
			top: 425px;
			}
		.ak-bars-aero .slide-02 .text-01 {
			top: 275px;
			}
		.ak-bars-aero .slide-02 .text-02 {
			top: 332px;
			}
		.ak-bars-aero .slide-02 .list-item-01 {
			top: 467px;
			}
		.ak-bars-aero .slide-02 .list-item-02 {
			top: 525px;
			}
		.ak-bars-aero .slide-02 .list-item-03 {
			top: 557px;
			}

/** 03 **/
.ak-bars-aero .slide-03 {
	background: url('../assets/pages/ak-bars-aero/03.jpg') no-repeat;
	color: #fff;
	}
	.ak-bars-aero .slide-03 .gallery-ico {
		top: 284px;
		left: 122px;
		}
		.ak-bars-aero .slide-03 .gallery-item-01 {
			left: 250px;
			top: 215px;
			}
		.ak-bars-aero .slide-03 .gallery-item-02 {
			left: 583px;
			top: 215px;
			}
/** TATARSTAN universiada **/
/** 01 **/
.tatarstan-universiada .slide-01 {
	background: url('../assets/pages/tatarstan-universiada/01.jpg') no-repeat;
	color: #fff;
	}
	.tatarstan-universiada .slide-01 .m-header-01 {
			top: 198px;
		}
	.tatarstan-universiada .slide-01 .m-header-02 {
		top: 387px;
		}
	.tatarstan-universiada .text-01 {
		top: 241px;
		}
	.tatarstan-universiada .text-02 {
		top: 294px;
		}
	.tatarstan-universiada .slide-01 .list-item-01 {
		top: 433px;
		}
	.tatarstan-universiada .slide-01 .list-item-02 {
		top: 492px;
		}
	.tatarstan-universiada .slide-01 .list-item-03 {
		top: 524px;
		}
/** 02 **/
.tatarstan-universiada .slide-02 {
	background: url('../assets/pages/tatarstan-universiada/02.jpg') no-repeat;
	color: #fff;
	}
	.tatarstan-universiada .slide-02 .home {
		display: block;
		position: absolute;
		bottom: 30px;
		right: 40px;
		width: 37px;
		height: 31px;
		background: url('../assets/controls/home.png') no-repeat;
		}
	.tatarstan-universiada .slide-02 .m-header-01 {
		top: 198px;
		}
	.tatarstan-universiada .slide-02 .m-header-02 {
		top: 387px;
		}
	
	.tatarstan-universiada .slide-02 .list-item-01 {
		top: 433px;
		}
	.tatarstan-universiada .slide-02 .list-item-02 {
		top: 492px;
		}
	.tatarstan-universiada .slide-02 .list-item-03 {
		top: 524px;
		}
/** 03 **/
.tatarstan-universiada .slide-03 {
	background: url('../assets/pages/tatarstan-universiada/03.jpg') no-repeat;
	color: #fff;
	}
	.tatarstan-universiada .slide-03 .home {
		display: block;
		position: absolute;
		bottom: 30px;
		right: 40px;
		width: 37px;
		height: 31px;
		background: url('../assets/controls/home.png') no-repeat;
		}
	.tatarstan-universiada .slide-03 .m-header-01 {
		top: 198px;
		}
	.tatarstan-universiada .slide-03 .m-header-02 {
		top: 387px;
		}
	
	.tatarstan-universiada .slide-03 .list-item-01 {
		top: 433px;
		}
	.tatarstan-universiada .slide-03 .list-item-02 {
		top: 492px;
		}
	.tatarstan-universiada .slide-03 .list-item-03 {
		top: 524px;
		}

/** 04 **/
.tatarstan-universiada .slide-04 {
	background: url('../assets/pages/tatarstan-universiada/04.jpg') no-repeat;
	color: #fff;
	}
	.tatarstan-universiada .slide-04 .home {
		display: block;
		position: absolute;
		bottom: 30px;
		right: 40px;
		width: 37px;
		height: 31px;
		background: url('../assets/controls/home.png') no-repeat;
		}
	.tatarstan-universiada .slide-04 .m-header-01 {
		top: 198px;
		}
	.tatarstan-universiada .slide-04 .m-header-02 {
		top: 387px;
		}
	
	.tatarstan-universiada .slide-04 .list-item-01 {
		top: 433px;
		}
	.tatarstan-universiada .slide-04 .list-item-02 {
		top: 492px;
		}
	.tatarstan-universiada .slide-04 .list-item-03 {
		top: 524px;
		}


/** 05 **/
.tatarstan-universiada .slide-05 {
	background: url('../assets/pages/tatarstan-universiada/05.jpg') no-repeat;
	color: #fff;
	}
	.tatarstan-universiada .slide-05 .home {
		display: block;
		position: absolute;
		bottom: 30px;
		right: 40px;
		width: 37px;
		height: 31px;
		background: url('../assets/controls/home.png') no-repeat;
		}
	.tatarstan-universiada .slide-05 .m-header-01 {
		top: 198px;
		}
	.tatarstan-universiada .slide-05 .m-header-02 {
		top: 387px;
		}
	
	.tatarstan-universiada .slide-05 .list-item-01 {
		top: 433px;
		}
	.tatarstan-universiada .slide-05 .list-item-02 {
		top: 492px;
		}
	.tatarstan-universiada .slide-05 .list-item-03 {
		top: 524px;
		}

/** 06 **/
.tatarstan-universiada .slide-06 {
	background: url('../assets/pages/tatarstan-universiada/06.jpg') no-repeat;
	color: #fff;
	}
	.tatarstan-universiada .slide-06 .home {
		display: block;
		position: absolute;
		bottom: 30px;
		right: 40px;
		width: 37px;
		height: 31px;
		background: url('../assets/controls/home.png') no-repeat;
		}
	.tatarstan-universiada .slide-06 .video-ico {
		top: 215px;
		left: 122px;
		}
		.tatarstan-universiada .slide-06 .gallery-item-01 {
			left: 250px;
			top: 180px;
			}
		.tatarstan-universiada .slide-06 .gallery-item-02 {
			left: 583px;
			top: 180px;
			}
		.tatarstan-universiada .slide-06 .gallery-item-03 {
			left: 250px;
			top: 433px;
			}
		.tatarstan-universiada .slide-06 .gallery-item-04 {
			left: 583px;
			top: 433px;
			}
/** 07 **/
.tatarstan-universiada .slide-07 {
	background: url('../assets/pages/tatarstan-universiada/07.jpg') no-repeat;
	color: #fff;
	}
	.tatarstan-universiada .slide-07 .img-item {
		position:absolute;
		top:192px;
		right:71px;
		width:622px;
		height:300px;
	}
.tatarstan-universiada .slide-07 .title {
	color:#2b2a2a;
	top:70px;
	left:330px;
	}
	.tatarstan-universiada .slide-07 .text {
		left:330px;
		width:565px;
		font-size:18px;
	}
.tatarstan-universiada .slide-07 .text-01 {
	top: 135px;
	color:#2b2a2a;
	}
.tatarstan-universiada .slide-07 .text-02 {
	top: 517px;
	}
.tatarstan-universiada .slide-07 .text-03 {
	top: 581px;
	}
.tatarstan-universiada .slide-07 .text-04 {
	top: 623px;
	}
.tatarstan-universiada .slide-07 .text-05 {
	top: 687px;
	}
.tatarstan-universiada .slide-07 .home {
		display: block;
		position: absolute;
		bottom: 30px;
		right: 40px;
		width: 37px;
		height: 31px;
		background: url('../assets/controls/home.png') no-repeat;
		}
/** 08 **/
.tatarstan-universiada .slide-08 {
	background: url('../assets/pages/tatarstan-universiada/08.jpg') no-repeat;
	color: #fff;
	}
.tatarstan-universiada .slide-08 .title {
	top:70px;
	left:282px;
	}
.tatarstan-universiada .slide-08 .text {
		left:282px;
		width:671px;
		font-size:18px;
	}
.tatarstan-universiada .slide-08 .text-01 {
	top: 135px;
	}
.tatarstan-universiada .slide-08 .text-02 {
	top: 218px;
	}
.tatarstan-universiada .slide-08 .text-03 {
	top: 306px;
	}
.tatarstan-universiada .slide-08 .text-04 {
	top: 394px;
	}
.tatarstan-universiada .slide-08 .text-05 {
	top: 479px;
	}
.tatarstan-universiada .slide-08 .home {
		display: block;
		position: absolute;
		bottom: 30px;
		right: 40px;
		width: 37px;
		height: 31px;
		background: url('../assets/controls/home.png') no-repeat;
		}
/** 09 **/
.tatarstan-universiada .slide-09 {
	background: url('../assets/pages/tatarstan-universiada/09.jpg') no-repeat;
	color: #fff;
	}
.tatarstan-universiada .slide-09 .title {
	left:264px;
	}
.sub-title {
	left:264px;
	}
	.tatarstan-universiada .slide-09 .home {
		display: block;
		position: absolute;
		bottom: 30px;
		right: 40px;
		width: 37px;
		height: 31px;
		background: url('../assets/controls/home.png') no-repeat;
		}
	.tatarstan-universiada .slide-09 .video-ico {
		top: 255px;
		right: 702px;
		}
		.tatarstan-universiada .slide-09 .gallery-item-01 {
			right: 362px;
			top: 180px;
			}
		.tatarstan-universiada .slide-09 .gallery-item-02 {
			right: 32px;
			top: 180px;
			}
		.tatarstan-universiada .slide-09 .gallery-item-03 {
			right: 362px;
			top: 433px;
			}
		.tatarstan-universiada .slide-09 .gallery-item-04 {
			right: 32px;
			top: 433px;
			}
