* {
    margin: 0;
    padding: 0;
	}

@font-face {
	font-family: 'DINPro-Regular';
	src: url('../fonts/DINPro-Regular.eot');
	src: local('☺'),
		 url('../fonts/DINPro-Regular.woff') format('woff'),
		 url('../fonts/DINPro-Regular.ttf') format('truetype'),
		 url('../fonts/DINPro-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	}

@font-face {
	font-family: 'DINPro-Bold';
	src: url('../fonts/DINPro-Bold.eot');
	src: local('☺'),
		 url('../fonts/DINPro-Bold.woff') format('woff'),
		 url('../fonts/DINPro-Bold.ttf') format('truetype'),
		 url('../fonts/DINPro-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	}

.hidden { display: none; }

#content {
	width: 1024px;
	height: 768px;
	overflow: hidden;
	margin: 0 auto;
	background: #000;
	}
#canvas {
	background: #000;
}
#canvas, #canvas ul li {
    overflow: hidden;
    position: relative;
    width: 100%;
 /*   height: 690px !important; */
 height:768px;
}

#canvas ul, #canvas ul li ul {
    position: absolute;
    z-index: 10;
    -webkit-transition: all .2s ease-out;
       -moz-transition: all .2s ease-out;
    	 -o-transition: all .2s ease-out;
    		transition: all .2s ease-out;
    top: 0;
    width: 2000px;
    height: 768px;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

#canvas ul {
    width: 1024px;
    height: 1000px;
}

#canvas ul li ul li {
    float: left;
    width: 1024px !important;
    height: 768px !important;
	position: relative;
    overflow: hidden;
}
.navigation {
	position: absolute;
	right:86px;
	top:193px;
}
.navigation div a {
	font-family: "DINPro-Regular", "MS Trebuchet", sans-serif;
	font-size:22px;
	color:#fff;
	text-decoration:none;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
	padding:25px;
	padding-top: 20px;
	padding-bottom: 28px;
	display: block;
	line-height:1.1;
}


.button {
    display: block;
    width: 240px;
    height: 120px;
    position: absolute;
}

#bkk-open-presentation {
    top: 550px;
    left: 70px;
}

#bkk-open-video {
    top: 550px;
    left: 360px;
}
#company-vision-gallery {
	text-decoration: none;
	color: #fff;
	}
#main .navigation div,
#main2 .navigation div {
	padding-left:0;
	width:312px;
	margin-bottom:25px;
	display: list-style;
	position: relative;
	top:auto;
	bottom:auto;
}
#main .navigation div.red-lbl,
#main2 .navigation div.red-lbl,
#main .navigation div.green-lbl,
#main2 .navigation div.green-lbl,
#main .navigation div.green-r-lbl,
#main2 .navigation div.green-r-lbl {
	right:0;
}
.navigation div.red-lbl{
	background: url(../assets/pages/main/red-lbl.png) no-repeat 0 0;
}
.navigation div.green-lbl{
	background: url(../assets/pages/main/green-lbl.png) no-repeat 0 0;
}
.navigation div.green-r-lbl{
	background: url(../assets/pages/main/green-r-lbl.png) no-repeat 0 0;
}

.slide-01 {

}
.enterprises {
	background: url(../assets/pages/enterprises.png) no-repeat 0 0;
	}
	.enterprises a {
		position: absolute;
		width: 304px;
		height: 95px
		}
		.enterprises .ak-bars-holding {
			top: 173px;
			left: 53px;
			}
		.enterprises .ak-bars-aero {
			top: 173px;
			left: 368px;
			}
		.enterprises .alabuga {
			top: 278px;
			left: 368px;
			}
		.enterprises .alnas {
			top: 173px;
			left: 682px;
			}
		.enterprises .bkk {
			top: 488px;
			left: 53px;
			}
		.enterprises .kazan-helicopters {
			top: 383px;
			left: 53px;
			}
		.enterprises .kamaz {
			top: 278px;
			left: 53px;
			}
		.enterprises .pestrchinka {
			top: 488px;
			left: 368px;
			}
		.enterprises .gorky {
			top: 383px;
			left: 368px;
			}
		.enterprises .compress {
			top: 278px;
			left: 682px;
			}
		.enterprises .kai {
			left: 682px;
			top: 383px;
			}



.title {
	position: absolute;
	font-family: DINPro-Regular;
	font-size: 48px;
	top: 65px;
	left: 72px;
	font-weight: normal;
	}

.sub-title {
	position: absolute;
	font-family: DINPro-Regular;
	font-size: 26px;
	left: 72px;
	top: 127px;
	}
.small-title {
	position: absolute;
	font-family: DINPro-Regular;
	font-size: 18px;
	left: 72px;
	top: 127px;
}
.within-list span{
	display: list-item;
	list-style-type:disc;
	list-style-position:inside;
}
.gallery-ico {
	width: 83px;
	height: 83px;
	background: url('../assets/controls/gallery.png') no-repeat;
	position: absolute;
	cursor: pointer;
}
.video-ico {
	width: 83px;
	height: 83px;
	background: url('../assets/controls/video_min.png') no-repeat;
	position: absolute;
	cursor: pointer;
}

.invisible-home {
	display: block;
	position: absolute;
	bottom: 34px;
	right: 39px;
	width: 37px;
	height: 31px;
	}
	.gallery-wrap{
		position:absolute;
		top:250px;
		left:230px;
		width:766px;
		height: 500px;
		overflow:auto;
		}
		.gallery-wrap .gallery-item{
			float:left;
			position:static;
			margin-right:40px;
			margin-bottom:40px;
		}
		.gallery-wrap .gallery-item{
			position:relative;
		}
		.gallery-wrap .gallery-item img{
		}
		/* scrollbars
		---------------------------------------- */
		::-webkit-scrollbar {
		    width: 12px;
		}

		::-webkit-scrollbar-track {
		    background:transparent;
		}

		::-webkit-scrollbar-thumb {
		    border-radius: 10px;
		    background:rgba(255,255,255,.5);
		}

.gallery-item {
	width: 284px;
	height: 213px;
	background: url('../assets/controls/gallery-item.png') no-repeat;
	position: absolute;
	}
.gallery-item.video {
	background: url('../assets/controls/video-item.png') no-repeat;

	}
.gallery-item.sm {
	background: url('../assets/controls/gv-item.png') no-repeat;
	width: 212px;
	height: 159px;
	position: static;
	float:left;

	}
.last {
	margin-bottom: 30px;
}
	.gallery-item img {
		position: absolute;
		left: 14px;
		top: 14px;
		}

.list-item {
	font-family: DINPro-Regular;
	font-size: 16px;
	left: 74px;
	position: absolute;
	padding-left: 33px;
	background: url('../assets/controls/bullet.png') no-repeat 0 7px;
	}

.m-header {
	font-size: 21px;
	font-family: DINPro-Bold;
	position: absolute;
	left: 74px;
	}

.text {
	font-family: DINPro-Regular;
	font-size: 16px;
	left: 74px;
	position: absolute;
	}

.big-label {
	font-family: DINPro-Bold;
	font-size: 29px;
	left: 74px;
	position: absolute;
	}
.galleryz {

padding-top: 200px;

width:950px;

}
.gall-wrap {
	padding-left: 182px;
	width:800px;
}
.text-block {
	position: absolute;
	}

.slide-min {
	position: absolute;
	width: 82px;
	height: 82px;
	left: 72px;
	background: url('../assets/controls/slide_min.png') no-repeat;
	}

.photo-min {
	position: absolute;
	width: 82px;
	height: 82px;
	left: 72px;
	background: url('../assets/controls/photo_min.png') no-repeat;
	}

.hand-min {
	position: absolute;
	bottom: 115px;
	right: 50px;
	width: 95px;
	height: 76px;
	background: url('../assets/controls/hand_min.png') no-repeat;
	}

.more-min {
	width: 82px;
	height: 82px;
	position: absolute;
	background: url('../assets/controls/more_min.png') no-repeat;
	cursor: pointer;
	left: 72px;
	}
.more-max {
	width: 82px;
	height: 82px;
	position: absolute;
	background: url('../assets/controls/more-max.png') no-repeat;
	cursor: pointer;
	left: 72px;
	top: 564px;
	}

.more-text {
	position: absolute;
	top:0;
	height:768px;
	width:1024px;
	background-color: #000;
    z-index: 1000;
}
.closebtn {
	position: absolute;
	height:52px;
	width:52px;
	top:70px;
	right:60px;
	background:url('../assets/controls/close-btn.png') no-repeat;
	display: block;
	z-index: 1000;
	}

.header-top {
	color:#000;
	padding:20px 45px;
	}

.header-top h1 {
	font-family: DINPro-Regular;
	font-size: 48px;
	}

.subwrapper {
	margin:43px 40px;
	background:#fff;
	height:680px;
    overflow: auto;
}

.content-scroller {
    -webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
}

.text-body {
	padding-left: 45px;
	padding-right: 45px;
	}

a.home {
	display: block;
	position: absolute;
	bottom: 30px;
	right: 40px;
	width: 37px;
	height: 31px;
	background: url('../assets/controls/home.png') no-repeat;
	}

.text-body p {
	color:#000;
	font-family: DINPro-Regular;
	font-size: 18px;
	margin-bottom: 31px;
	}

#main, #enterprises {
	position: relative;
	height: 768px;
	}
#main {
	background: url('../assets/pages/main/rots/main.jpg') no-repeat;
	position:absolute;
    height:768px;
    width:1024px;
	}
	#main div,
	#main2 div {
		cursor: pointer;
		position: absolute;
		right: 86px;
		top: 193px;
		}
#to-enterprises {
	width: 312px;
	height: 102px;
	position: absolute;
	top: 193px;
	right: 86px;
	}
#enterprises {

}
/**** PAGES ****/



/** Alnas **/
/** 01 **/
.alnas .slide-01 {
	color: #fff;
	background: url('../assets/pages/alnas/01.png') no-repeat;
	}
	.alnas .slide-01 .address {
		top: 580px;
		font-size: 16px;
		color: #fff;
		}
	.alnas .slide-01 .contacts {
		top: 640px;
		font-size: 16px;
		color: #fff;
		}
	.alnas .slide-01 .logo {
		width: 283px;
		height: 54px;
		background: url('../assets/pages/alnas/logo.png') no-repeat;
		left: 75px;
		top: 505px;
		position: absolute;
		}

/** 02 **/
.alnas .slide-02 {
	color: #fff;
	background: url('../assets/pages/alnas/02.png') no-repeat;
	}
	.alnas .slide-02 .text-01 {
		top: 220px;
		}
	.alnas .slide-02 .text-02 {
		top: 500px;
		}
	.alnas .slide-02 .big-label {
		top: 305px;
		}
	.alnas .slide-02 .text-block-01 {
		top: 390px;
		width: 315px;
		height: 85px;
		left: 10px;
		}
		.alnas .slide-02 .text-block-01 .list-item-02 {
			top: 22px;
			}
		.alnas .slide-02 .text-block-01 .list-item-03 {
			top: 44px;
			}
		.alnas .slide-02 .text-block-01 .list-item-04 {
			top: 64px;
			}
	.alnas .slide-02 .text-block-02 {
		left: 350px;
		top: 390px;
		width: 390px;
		height: 130px;
		}
		.alnas .slide-02 .text-block-02 .list-item-02 {
			top: 22px;
			}
		.alnas .slide-02 .text-block-02 .m-header-01 {
			top: -35px;
			left: 60px;
			}
	.alnas .slide-02 .text-block-03 {
		left: 600px;
		top: 355px;
		width: 390px;
		height: 130px;
		}
		.alnas .slide-02 .text-block-03 .text-01 {
			top: 35px;
			}

/** 03 **/
.alnas .slide-03 {
	color: #fff;
	background: url('../assets/pages/alnas/03.png') no-repeat;
	}
	.alnas .slide-03 .bg {
		width: 800px;
		height: 290px;
		position: absolute;
		top: 335px;
		background: url('../assets/pages/alnas/bg-03.png') no-repeat;
		left: 135px;
		}

/** 04 **/
.alnas .slide-04 {
	color: #fff;
	background: url('../assets/pages/alnas/04.png') no-repeat;
	}
	.alnas .slide-04 .photo-min {
		top: 295px;
		}

/** ALABUGA **/
/** 01 **/
.alabuga .slide-01 {
	color: #fff;
	background: url('../assets/pages/alabuga/01.png') no-repeat;
	}
	.alabuga .slide-01 .logo {
		width: 225px;
		height: 134px;
		background: url('../assets/pages/ak-bars-holding/logo.png') no-repeat;
		top: 465px;
		position: absolute;
		left: 75px;
		}
	.alabuga .slide-01 .address {
		top: 554px;
		font-size: 16px;
		}
	.alabuga .slide-01 .contacts {
		top: 640px;
		font-size: 16px;
		}
	.alabuga .slide-01 .logo {
		width: 352px;
		height: 85px;
		background: url('../assets/pages/alabuga/logo.png') no-repeat;
		left: 62px;
		top: 445px;
		}

/** 02 **/
.alabuga .slide-02 {
	color: #fff;
	background: url('../assets/pages/alabuga/02.png') no-repeat;
	}
	.alabuga .slide-02 table {
		color: #000;
		}
	.alabuga .slide-02 .text-01 {
		top: 180px;
		}
	.alabuga .slide-02 .text-02 {
		top: 305px;
		}
	.alabuga .slide-02 .m-header-01 {
		top: 268px;
		}
	.alabuga .slide-02 .more-min {
		top: 530px;
		}

/** 03 **/
.alabuga .slide-03 {
	color: #fff;
	background: url('../assets/pages/alabuga/03.png') no-repeat;
	}
	.alabuga .slide-03 .text-01 {
		top: 180px;
		}
	.alabuga .slide-03 .more-min {
		top: 330px;
		}
/** 04 **/
.alabuga .slide-04 {
	color: #fff;
	background: url('../assets/pages/alabuga/04.png') no-repeat;
	}
	.alabuga .slide-04 .slide-min {
		top: 290px;
		}
	.alabuga .slide-04 .photo-min {
		top: 550px;
		}

/** BKK **/
/** 01 **/
.bkk .slide-01 {
	color: #000;
	background: url('../assets/pages/bkk/01.png') no-repeat;
	}
	.bkk .slide-01 .title {
		color: #000;
		line-height: 50px;
		}
	.bkk .slide-01 .address {
		top: 580px;
		font-size: 16px;
		color: #2d2d2d;
		}
	.bkk .slide-01 .contacts {
		top: 640px;
		font-size: 16px;
		color: #2d2d2d;
		}
	.bkk .slide-01 .logo {
		width: 139px;
		height: 79px;
		background: url('../assets/pages/bkk/logo.png') no-repeat;
		left: 75px;
		top: 480px;
		position: absolute;
		}
.bkk .slide-02 {
	color: #fff;
	background: url('../assets/pages/bkk/02.png') no-repeat;
	}
	.bkk .slide-02 .more-min {
		top: 565px;
		}
	.bkk .slide-02 .title {
		letter-spacing: -2px;
		}
	.bkk .slide-02 .text-01 {
		top: 175px;
		}
	.bkk .slide-02 .text-02 {
		top: 240px;
		}
	.bkk .slide-02 .text-03 {
		top: 300px;
		}
	.bkk .slide-02 .text-04 {
		top: 360px;
		}
	.bkk .slide-02 .text-05 {
		top: 420px;
		}
.bkk .slide-03 {
	color: #fff;
	background: url('../assets/pages/bkk/03.png') no-repeat;
	}
.bkk .slide-03 .title {
	letter-spacing: -1px;
	}

/** AK BARS HOLDING **/
/** 01 **/
.ak-bars-holding .slide-01 {
	color: #000;
	background: url('../assets/pages/ak-bars-holding/01.png') no-repeat;
	}
	.ak-bars-holding .slide-01 .sub-title {
		top: 195px;
		}
	.ak-bars-holding .slide-01 .logo {
		width: 225px;
		height: 134px;
		background: url('../assets/pages/ak-bars-holding/logo.png') no-repeat;
		top: 465px;
		position: absolute;
		left: 75px;
		}
	.ak-bars-holding .slide-01 .address {
		top: 610px;
		font-size: 16px;
		}
	.ak-bars-holding .slide-01 .contacts {
		top: 640px;
		font-size: 16px;
		}
/** 02 **/
.ak-bars-holding .slide-02 {
	color: #fff;
	background: url('../assets/pages/ak-bars-holding/02.png') no-repeat;
	}
	.ak-bars-holding .slide-02 .list-item-01 {
		top: 180px;
		}
	.ak-bars-holding .slide-02 .list-item-02 {
		top: 236px;
		}
	.ak-bars-holding .slide-02 .list-item-03 {
		top: 270px;
		}
	.ak-bars-holding .slide-02 .m-header-01 {
		top: 314px;
		}
	.ak-bars-holding .slide-02 .m-header-02 {
		top: 420px;
		}
	.ak-bars-holding .text-01 {
		top: 345px;
		}
	.ak-bars-holding .text-02 {
		top: 451px;
		}
/** 03 **/
.ak-bars-holding .slide-03 {
	color: #fff;
	background: url('../assets/pages/ak-bars-holding/03.png') no-repeat;
	}
	.ak-bars-holding .slide-03 .list-item-01 {
		top: 200px;
		}
	.ak-bars-holding .slide-03 .list-item-02 {
		top: 240px;
		}
	.ak-bars-holding .slide-03 .list-item-03 {
		top: 300px;
		}
	.ak-bars-holding .slide-03 .list-item-04 {
		top: 360px;
		}
	.ak-bars-holding .slide-03 .list-item-05 {
		top: 400px;
		}
	.ak-bars-holding .slide-min {
		left: 72px;
		top: 600px;
		}
	.ak-bars-holding .presentation {
		top: 625px;
		left: 178px;
		}

/** AK BARS AERO **/
/** 01 **/

.ak-bars-aero .slide-01 {
	color: #000;
	background: url('../assets/pages/ak-bars-aero/01.jpg') no-repeat;
	}
	.ak-bars-aero .slide-01 .address {
		font-family: DINPro-Bold;
		top: 588px;
		left: 72px;
		position: absolute;
		font-size: 14px;
		}
	.ak-bars-aero .slide-01 .site {
		color: #000;
		text-decoration: none;
		}
		.ak-bars-aero .slide-01 .address p {
			line-height: 16px;
			}
	.ak-bars-aero .slide-01 .tel {
		font-family: DINPro-Regular;
		left: 72px;
		top: 654px;
		position: absolute;
		font-size: 14px;
		}
		.ak-bars-aero .slide-01 .tel .site {
			top: 33px;
			position: absolute;
			}

/** 02 **/
.ak-bars-aero .slide-02 {
	background: url('../assets/pages/ak-bars-aero/02.jpg') no-repeat;
	color: #fff;
	}
	.ak-bars-aero .slide-02 .title {
		color: #fff;
		text-decoration: none;
		}
	.ak-bars-aero .slide-02 .m-header-01 {
		top: 233px;
		}
	.ak-bars-aero .slide-02 .m-header-02 {
		top: 425px;
		}
	.ak-bars-aero .slide-02 .text-01 {
		top: 275px;
		}
	.ak-bars-aero .slide-02 .text-02 {
		top: 332px;
		}
	.ak-bars-aero .slide-02 .list-item-01 {
		top: 467px;
		}
	.ak-bars-aero .slide-02 .list-item-02 {
		top: 525px;
		}
	.ak-bars-aero .slide-02 .list-item-03 {
		top: 557px;
		}

/** 03 **/
.ak-bars-aero .slide-03 {
	background: url('../assets/pages/ak-bars-aero/03.jpg') no-repeat;
	color: #fff;
	}
	.ak-bars-aero .slide-03 .gallery-ico {
		top: 284px;
		left: 122px;
		}
		.ak-bars-aero .slide-03 .gallery-item-01 {
			left: 250px;
			top: 215px;
			}
		.ak-bars-aero .slide-03 .gallery-item-02 {
			left: 583px;
			top: 215px;
			}
/** TATARSTAN universiada **/
.tatarstan-universiada.initializer ul,
.tatarstan-universiada.initializer {
	height:768px !important;
}

.tatarstan-universiada .slide-0 .link {
	display: block;
	position: absolute;
	text-decoration: none;
	width: 230px;
	height: 69px;
	top: 60px;
	left: 46px; }

.tatarstan-universiada .slide-01 {
	background: url('../assets/pages/tatarstan-universiada/1.png') no-repeat; }

.tatarstan-universiada .slide-02 {
	background: url('../assets/pages/tatarstan-universiada/2.png') no-repeat; }

.tatarstan-universiada .slide-03 {
	background: url('../assets/pages/tatarstan-universiada/3.png') no-repeat; }

.tatarstan-universiada .slide-04 {
	background: url('../assets/pages/tatarstan-universiada/4.png') no-repeat; }

.tatarstan-universiada .slide-05 {
	background: url('../assets/pages/tatarstan-universiada/5.png') no-repeat; }

.tatarstan-universiada .slide-06 {
	background: url('../assets/pages/tatarstan-universiada/6.png') no-repeat; }

.tatarstan-universiada .slide-07 {
	background: url('../assets/pages/tatarstan-universiada/7.png') no-repeat; }

.tatarstan-universiada .slide-07-2 {
	background: url('../assets/pages/tatarstan-universiada/7-2.png') no-repeat; }

.tatarstan-universiada .slide-08 {
	background: url('../assets/pages/tatarstan-universiada/8.png') no-repeat; }

.tatarstan-universiada .slide-09 {
	background: url('../assets/pages/tatarstan-universiada/9.png') no-repeat; }

.tatarstan-universiada .slide-10 {
	background: url('../assets/pages/tatarstan-universiada/10.png') no-repeat; }

.tatarstan-universiada .slide-11 {
	background: url('../assets/pages/tatarstan-universiada/11.png') no-repeat; }

.tatarstan-universiada .home {
	display: block;
	position: absolute;
	bottom: 30px;
	right: 40px;
	width: 37px;
	height: 31px;
	background: url('../assets/controls/home.png') no-repeat;	}

.tatarstan-universiada .video-ico {
	top: 275px;
	left: 70px; }

/** KAZ **/
/** 01 **/
.kazan-helicopters .more-max {
left:74px;
top:574px;
}
.kazan-helicopters .slide-0 {
	color: #fff;
	background: url('../assets/pages/kazan-helicopters/01.jpg') no-repeat;
	}
	.kazan-helicopters .slide-0 .address {
		font-family: DINPro-Bold;
		top: 588px;
		left: 72px;
		position: absolute;
		font-size: 14px;
		}
		.ak-bars-aero .slide-0 .address p {
			line-height: 16px;
			}
	.kazan-helicopters .slide-0 .tel {
		font-family: DINPro-Regular;
		left: 72px;
		top: 654px;
		position: absolute;
		font-size: 14px;
		}
		.kazan-helicopters .slide-0 .tel .site {
			top: 33px;
			position: absolute;
			}

/** 02 **/
.kazan-helicopters .slide-01	 {
	background: url('../assets/pages/kazan-helicopters/02.jpg') no-repeat;
	color: #fff;
	}

.kazan-helicopters .slide-01 .text {
		width:671px;
		font-size:18px;
	}
.kazan-helicopters .slide-01 .text-01 {
	top: 176px;
	}
.kazan-helicopters .slide-01 .text-02 {
	top: 234px;
	}
.kazan-helicopters .slide-01 .text-03 {
	top: 290px;
	}
.kazan-helicopters .slide-01 .text-04 {
	top: 390px;
	}
.kazan-helicopters .slide-01 .text-05 {
	top: 470px;
	}
.kazan-helicopters .slide-01 .home {
		display: block;
		position: absolute;
		bottom: 30px;
		right: 40px;
		width: 37px;
		height: 31px;
		background: url('../assets/controls/home.png') no-repeat;
		}
/** 03 **/
.kazan-helicopters .slide-02 {
	background: url('../assets/pages/kazan-helicopters/03.jpg') no-repeat;
	color: #fff;
	overflow-y:auto !important;
	}
	.kazan-helicopters .slide-02 .home {
		display: block;
		position: absolute;
		bottom: 30px;
		right: 40px;
		width: 37px;
		height: 31px;
		background: url('../assets/controls/home.png') no-repeat;
		}
	.kazan-helicopters .slide-02 .video-ico {
		top: 584px;
		left: 72px;
		}
	.kazan-helicopters .slide-02 .gallery-ico {
		top: 242px;
		left: 72px;
		}

/** KAMAZ **/
/** 01 **/
.kamaz .slide-01 {
	background: url('../assets/pages/kamaz/01.png') no-repeat;
	}
/** 02 **/
.kamaz .slide-02 {
	background: url('../assets/pages/kamaz/02.png') no-repeat;
	}
	.kamaz .slide-02 .more {
		width: 82px;
		height: 82px;
		position: absolute;
		top: 553px;
		left: 62px;
		cursor: pointer;
		}
/** 03 **/
.kamaz .slide-03 {
	background: url('../assets/pages/kamaz/03.png') no-repeat;
	}
	.kamaz .slide-03 .more-01 {
		width: 82px;
		height: 82px;
		position: absolute;
		top: 284px;
		left: 69px;
		cursor: pointer;
		}
	.kamaz .slide-03 .more-02 {
		width: 82px;
		height: 82px;
		position: absolute;
		top: 420px;
		left: 69px;
		cursor: pointer;
		}
.kamaz .slide-04 {
	background: url('../assets/pages/kamaz/04.png') no-repeat;
	}
	.kamaz .slide-04 .invisible-home {
		display: block;
		position: absolute;
		bottom: 34px;
		right: 47px;
		width: 37px;
		height: 31px;
		z-index: 5000;
		}

/** GORKY **/
/** 01 **/
.gorky .slide-01 {
	background: url('../assets/pages/gorky/01.png') no-repeat;
	}
/** 02 **/
.gorky .slide-02 {
	background: url('../assets/pages/gorky/02.png') no-repeat;
	}
/** 02 **/
.gorky .slide-03 {
	background: url('../assets/pages/gorky/03.png') no-repeat;
	}

/** PESTRCHINLKA **/
/** 01 **/
.pestrchinka .slide-01 {
	background: url('../assets/pages/pestrchinka/01.png') no-repeat;
	}
/** 02 **/
.pestrchinka .slide-02 {
	background: url('../assets/pages/pestrchinka/02.png') no-repeat;
	}
	.pestrchinka .slide-02 .more {
		width: 82px;
		height: 82px;
		position: absolute;
		top: 564px;
		left: 63px;
		cursor: pointer;
		}
/** 03 **/
.pestrchinka .slide-03 {
	background: url('../assets/pages/pestrchinka/03.png') no-repeat;
	}


/** COMPRESS **/
/** 01 **/
.compress .slide-01 {
	background: url('../assets/pages/compress/01.png') no-repeat;
	}
/** 02 **/
.compress .slide-02 {
	background: url('../assets/pages/compress/02.png') no-repeat;
	}
	.compress .slide-02 .more {
		width: 82px;
		height: 82px;
		position: absolute;
		top: 270px;
		left: 63px;
		cursor: pointer;
		}
/** 03 **/
.compress .slide-03 {
	background: url('../assets/pages/compress/03.png') no-repeat;
	}
	.compress .slide-03 .more-01 {
		width: 82px;
		height: 82px;
		position: absolute;
		top: 233px;
		left: 94px;
		cursor: pointer;
		}
	.compress .slide-03 .more-02 {
		width: 82px;
		height: 82px;
		position: absolute;
		top: 484px;
		left: 94px;
		cursor: pointer;
		}
/** 04 **/
.compress .slide-04 {
	background: url('../assets/pages/compress/04.png') no-repeat;
	}
	.compress .slide-04 .more-01 {
		width: 82px;
		height: 82px;
		position: absolute;
		top: 233px;
		left: 110px;
		cursor: pointer;
		}
	.compress .slide-04 .invisible-home {
		display: block;
		position: absolute;
		bottom: 34px;
		right: 46px;
		width: 37px;
		height: 31px;
		z-index: 5000;
		}


/** KAI **/
.kai .slide-01 {
	background: url('../assets/pages/kai/01.png') no-repeat; }

.kai .slide-02 {
	background: url('../assets/pages/kai/02.png') no-repeat; }

.kai .slide-03 {
	background: url('../assets/pages/kai/03.png') no-repeat; }

.kai .more {
	width: 82px;
	height: 82px;
	position: absolute;
	top: 371px;
	left: 70px;
	cursor: pointer; }

/**president **/
.presedent .slide-01 {
	background: url('../assets/pages/presedent/01.png') no-repeat; }

.presedent .slide-02 {
	background: url('../assets/pages/presedent/02.png') no-repeat; }

.presedent .slide-03 {
	background: url('../assets/pages/presedent/03.png') no-repeat; }

.presedent .slide-04 {
	background: url('../assets/pages/presedent/04.png') no-repeat; }

.presedent .slide-05 {
	background: url('../assets/pages/presedent/05.png') no-repeat; }

.presedent .slide-06 {
	background: url('../assets/pages/presedent/06.png') no-repeat; }

.presedent .slide-07 {
	background: url('../assets/pages/presedent/07.png') no-repeat; }

.presedent .slide-08 {
	background: url('../assets/pages/presedent/08.png') no-repeat; }

.presedent .slide-09 {
	background: url('../assets/pages/presedent/09.png') no-repeat; }

.presedent .slide-10 {
	background: url('../assets/pages/presedent/10.png') no-repeat; }

.presedent .slide-11 {
	background: url('../assets/pages/presedent/11.png') no-repeat; }

.presedent .slide-12 {
	background: url('../assets/pages/presedent/12.png') no-repeat; }

.presedent .slide-13 {
	background: url('../assets/pages/presedent/13.png') no-repeat; }

.presedent .slide-14 {
	background: url('../assets/pages/presedent/14.png') no-repeat; }

.presedent .slide-15 {
	background: url('../assets/pages/presedent/15.png') no-repeat; }

.presedent .slide-16 {
	background: url('../assets/pages/presedent/16.png') no-repeat; }

.presedent .slide-17 {
	background: url('../assets/pages/presedent/17.png') no-repeat; }

.presedent .slide-18 {
	background: url('../assets/pages/presedent/18.png') no-repeat; }

.presedent .home {
		display: block;
		position: absolute;
		bottom: 30px;
		right: 40px;
		width: 37px;
		height: 31px;
		background: url('../assets/controls/home.png') no-repeat;
	}

/** TIDA **/
.tida.slide-01 {
	background: url('../assets/pages/tida/main.png') no-repeat;
	color: #fff; }

.tida .bt-left a {
	display: block;
	height:102px;
	width:311px; }

.projetsx {
	background:  url('../assets/pages/tida/controls/projects.png') no-repeat;
	position: absolute;
	left:51px;
	top:190px;
	cursor: pointer; }

.aboutx {
	background:  url('../assets/pages/tida/controls/about.png') no-repeat;
	position: absolute;
	left:51px;
	top:323px;
	cursor: pointer; }

.casansummitx {
	background:  url('../assets/pages/tida/controls/kazansummit.png') no-repeat;
	position: absolute;
	left:51px;
	top:454px;
	cursor: pointer; }

.tida .slide-02 {
	background: url('../assets/pages/tida/01.jpg') no-repeat; }

.tida .slide-03 {
	background: url('../assets/pages/tida/02.jpg') no-repeat; }

.tida .slide-04 {
	background: url('../assets/pages/tida/03.jpg') no-repeat; }

.tida .slide-05 {
	background: url('../assets/pages/tida/04.jpg') no-repeat; }

.tida .slide-06 {
	background: url('../assets/pages/tida/05.jpg') no-repeat; }

.tida .slide-07 {
	background: url('../assets/pages/tida/06.jpg') no-repeat; }

.tida .slide-08 {
	background: url('../assets/pages/tida/07.jpg') no-repeat; }

.tida .slide-09 {
	background: url('../assets/pages/tida/08.jpg') no-repeat; }

.tida .slide-10 {
	background: url('../assets/pages/tida/09.jpg') no-repeat; }

.tida .slide-11 {
	background: url('../assets/pages/tida/10.jpg') no-repeat; }

.tida .slide-12 {
	background: url('../assets/pages/tida/11.jpg') no-repeat; }

/** TIDA About **/

.tida-about .slide-01 {
	background: url('../assets/pages/tida-about/01.jpg') no-repeat; }

.tida-about .slide-02 {
	background: url('../assets/pages/tida-about/02.jpg') no-repeat; }

	.tida-about .slide-02 .gallery-ico {
		left: 63px;
    top: 630px; }

.tida-about .slide-03 {
	background: url('../assets/pages/tida-about/03.jpg') no-repeat; }

	.tida-about .slide-03 .photo-min {
		top: 260px;
    left: 90px; }
